# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Aula15 - Switch case.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\guifg\Desktop\Pasta da Herica\Aula15 - Switch case\.idea\.idea.Aula15 - Switch case.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
